@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.head {
    background-color: #bccddf;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #fefdf9;
}

nav {
    text-align: center;
    /* width: 55%;
    padding-top: 26px;
    padding-left: 6px; */
}
nav a {
    padding: 10px 17px;
    margin-left: 43px;
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}

nav a:hover {
    box-shadow: 0 3px;
    padding-bottom: 10px;
    color: #709ac6;
    transition: all 0.3s;
}

.logo {
    margin: 20px 0 20px 0;
    width: 20%;
    text-align: center;
    /* padding-top: 15px; */
    border-right: 1px solid #fefdf9;
    border-left: 1px solid #fefdf9;
}
.tit{
    color: white;
    padding-right: 60px;
    font-size: 20px;
}


/* 管理商品 */
.b_body {
    height: 800px;
    text-align: center;
    padding-top: 180px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: content;
}

.b_about {
    width: 300px;
}

.b_about p {
    font-size: 30px;
    color: #709ac6;
    margin-bottom: 15px;
}

.b_about a {
    text-decoration: none;
    color: #7f7069;
    font-size: 18px;
    line-height: 2;
}

.b_about a:hover {
    text-decoration: underline;
    color: #7f7069;
}

.items {
    width: 500px;
    margin-top: 20px;
    color: #7f7069;
    align-items: center;
}

.items form {
    line-height: 2;
}
.itinp{
    background-color: #f0e7e0;
    /* border: 1px solid #988a81; */
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    outline: none;
    margin: 10px 20px 10px 20px;
}
textarea{
    background-color: #f0e7e0;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    outline: none;
    margin: 10px 20px 10px 20px;
}
.items div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.itbtn{
    background-color: #7f7069;
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    margin-right: 10px
}
.itbtn:hover{
    background-color: #f0e7e0;
    /* border: 1px solid #7f7069; */
    color: #7f7069;
}