@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&display=swap');
.contact{
    padding-top: 140px;
    height: 1250px;
}
.contop{
    display: flex;
    justify-content: center;
    margin-top: 38px;
    
}
.ctleft{
    width: 38%;
    padding: 10px;
}
.ctleft p{
    color: #7f7069;
    margin: 20px 0 20px 0;
}
.get{
    font-size: 60px;
    font-family: 'Cormorant', serif;
    font-weight: bolder;
    padding-bottom: 20px;
}
.txt1{
    font-weight: bold;
}
.txt2{
    padding-bottom: 20px;
}

.ctright{
    width: 480px;
    text-align: center;
    background-color: #f0e7e0;
    color: #7f7069;
    padding: 30px;
    margin-left: 50px;
}
.inf{
    border: none;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 18px;

}
form textarea {
    margin-bottom: 3px;
    resize: none;
    width: 350px;
    height: 160px;
    border: none;
    border-radius: 10px;
    padding: 10px 0 0 10px;
    outline: none;
    margin-top: 18px;

}
.submit{
    border: none;
    width: 350px;
    height: 45px;
    margin-bottom: 18px;
    background-color: #9e8e87;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}
.submit:hover{
    background-color:#fefdf9;
    border:2px solid #7f7069;
    color: #7f7069;
}

.map{
    margin: 80px 0 50px 0;
    width: 100%;
    text-align: center;
}